* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#root 
{
	height: 100vh;
}


:root 
{
	--background-primary: #31394D;
	--background-secondary: #3A4259;
	--background-secondary2: #293040;
	--background-secondary3: #525F8A;
	--text-background: #7189DA;
	--text-color-primary: #AFBEE8;
	--text-color-secondary: #6A7387;
}


.page 
{
	position: relative;
}

.sidebar 
{
	position: relative;
	background-color: var(--background-primary);
	height: 100vh;
	overflow-y: scroll;
}

.siderbar-header 
{
	background-color: var(--background-secondary);
	/* position: relative; */
}

.sidebar-input 
{
	color: var(--background-secondary);
	padding: 8px 10px;
	border: none;
	outline: none;
	width: 100%;
	transition: box-shadow .15s ease-in-out;
	;
}

.sidebar-input:focus 
{
	box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.addIcon 
{
	width: 25px;
	cursor: pointer;
}


.sidebar-content 
{
	background-color: var(--background-secondary2);
}

.profile-pic-container 
{
	width: 60px;
	height: 50px;
}

.profile-pic-container img 
{
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

.info-container .name 
{
	color: white;
	font-size: 18px;
	font-weight: bold;
}

.info-container .last-message 
{
	color: var(--text-color-secondary);
	font-size: 14px;
}


/* Navbar styling */
.navbar
{
	background-color: var(--background-secondary);
}

.nav-img
{
	width: 35px;
}

.nav-img img 
{
	width: 100%;
}

/* Generic Classes */
.pointer 
{
	cursor: pointer;
}

hr 
{
	color: var(--text-color-primary);
	margin: 0;
}